################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/DarknestDungeon/Library
/Unity/DarknestDungeon/Logs
/Unity/DarknestDungeon/Packages
/Unity/DarknestDungeon/ProjectSettings
/Unity/DarknestDungeon/UserSettings
