################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/DarknestDungeon/Library
/Unity/DarknestDungeon/Logs
/Unity/DarknestDungeon/Packages
/Unity/DarknestDungeon/ProjectSettings
/Unity/DarknestDungeon/UserSettings
/DarknestDungeon/Void/Library
/DarknestDungeon/Void/Temp
/DarknestDungeon/Void/UserSettings
/DarknestDungeon/Void/UnityPackageManager
/DarknestDungeon/Void/ProjectSettings
/DarknestDungeon/Void/Assets/Assemblies
/DarknestDungeon/Unity/Assets/Assemblies
/DarknestDungeon/Unity/Library
/DarknestDungeon/Unity/ProjectSettings
/DarknestDungeon/Unity/Temp
/DarknestDungeon/Unity/UserSettings
/DarknestDungeon/Unity/.vsconfig
/DataUpdater/bin
/DataUpdater/obj
/UnityScripts/bin/Debug
/UnityScripts/obj/Debug
